In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('data.csv')

In [7]:
df.head()

   Time  Elbow  Knee  Spine
0     0      0     0      0
1     1    120    85    106
2     2    129    52    156
3     3     25     7    111
4     4     30    91    103

In [9]:
data = df.head()
elbowMean = data['Elbow'].mean()
kneeMean = data['Knee'].mean()
spineMean = data['Spine'].mean()

spineMean

95.2